<h1>Edit Manager</h1>

<%= render "form-edit-manager.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

<span><%= link "Back", to: Routes.task_path(@conn, :index) %></span>
