<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <title>TaskTracker · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-extend-sm">
        <ul class="navbar-nav mr-auto">
          <%= link "TaskTracker", to: Routes.page_path(@conn, :index), class: "navbar-brand" %>
          <li class="nav-item">
            <%= link "New Task", to: Routes.task_path(@conn, :index), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link "Register New User", to: Routes.user_path(@conn, :new), class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <%= if @current_user do %>
            <div class="text-right">
              User: <%= @current_user.name %><br>
              <%= link("Logout", to: Routes.session_path(@conn, :delete), method: :delete) %><br>
              <%= link("Profile", to: Routes.user_path(@conn, :show, @current_user)) %></div>
          <% else %>
            <%= form_for @conn, Routes.session_path(@conn, :create), [class: "form-inline"], fn f -> %>
              <p>Login with email</p>
              <%= text_input f, :email, class: "form-control" %>
              <%= submit "login", class: "btn btn-secondary" %> 
              <p>Not a user? <%= link "Sign up!", to: Routes.user_path(@conn, :new) %></p>
            <% end %>
          <% end %>
    </div>
      </nav>
      </div>



      <div class="row">
        <div class="col-12">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert">
            <%= get_flash(@conn, :error) %>
            </p>
          <% end %>
        </div>
      </div>

      <%= render @view_module, @view_template, assigns %>
      </div>

      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
