<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>didn't work</p>
    </div>
  <% end %>
  <%= label f, :title %>
  <%= text_input f, :title, class: "form-control" %>
  <%= error_tag f, :title %>
  <br>
  <%= label f, :description %>
  <%= textarea f, :description, class: "form-control" %>
  <%= error_tag f, :description %>
  <br>
  <div>
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
